@import '../../Styles/variables';

.congress-wrapper {
  input {
    width: 50%;
    border-radius: 8px;
    border: none;
    padding: 15px;
    font-size: $fz_title0;
    margin: 0 auto 10px;
    display: flex;
    font-family: $montserrat;
    background-color: $white1; 
    box-sizing: border-box;
    &:focus {
      outline: none;
    }
  }
  .copyright {
    text-align: center;
    font-size: 14px;
    padding-top: 20px;
    a {
      color: $white1;
    }
  }
}

// < 768
@media only screen and (max-width: $md) {
  .congress-wrapper{
    input {
      width: 100%;
    }
  }
}