@import '../../Styles/variables';

body footer {
  display: flex;
  background: $blue2;
  text-align: center;
  padding: 10px 0;
  font-family: $montserrat;
  font-size: 12px;
  letter-spacing: 1px;
}